services:
    database:
        image: postgres:15
        restart: always
        volumes:
            - pgdata:/var/lib/postgresql/data
        env_file:
            - .env
        ports:
            - 5432:5432
        healthcheck:
            test: [ "CMD-SHELL", "pg_isready -U postgres" ]
            interval: 5s
            timeout: 5s
            retries: 5
        networks:
            - app-network

    server:
        build:
            context: backend
            dockerfile: Dockerfile
        restart: always
        env_file:
            - .env
        ports:
            - 8000:8000
        depends_on:
            - database
        volumes:
            - ./backend:/app
        environment:
            - PYTHONPATH=/app
        command: >
            sh -c "alembic upgrade head && uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload"
        networks:
            - app-network



volumes:
    pgdata:


networks:
    app-network:
        driver: bridge
